.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.no__scroll {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  border-radius: 16px;
  position: relative;
  line-height: 30px;
  padding-bottom: 16px;
}

.title {
  max-width: 308px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin: 48px 0 32px;
}

.cross__button {
  font-weight: 700;
  font-size: 30px;
  color: rgb(249, 93, 9);
  border-radius: 50px;
  width: 48px;
  height: 48px;
  top: 20px;
  right: 20px;
  position: absolute;
  background: #f9f9fa;
  filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18))
    drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
}

.list__container {
  top: 40px;
  position: absolute;
  width: 150px;
  height: 320px;
  background: #ffffff;
  filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18))
    drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
  border-radius: 10px;
}

.month__list {
  gap: 5px;
}

.button__my {
  color: white;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
}

.button__cancel,
.button__my__booking,
.button__my {
  border-radius: 30px;
  cursor: pointer;
  width: 416px;
  height: 52px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.button__cancel {
  border: 1px solid #bfc4c9;
}
.button__cancel[disabled] {
  border: 1px solid #bfc4c9;
}

.button__my[disabled] {
  background: #ebebeb;
  cursor: not-allowed;
  color: white;
}

.month:hover {
  background-color: rgba(191, 196, 201, 0.24);
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  .wrapper {
    width: 90%;
    margin: auto;
  }

  .cross__button {
    font-size: 16px;
    width: 32px;
    height: 32px;
  }

  .title,
  .button__cancel,
  .button__my__booking,
  .button__my {
    width: 256px;
  }
}
