.hidden {
  display: none;
}

.search__input,
.focused {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 350px;
  height: 38px;
  padding-left: 40px;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 599px;
  font-size: 12px;
  line-height: 18px;
  border: none;
  letter-spacing: 0.1px;
  color: #a7a7a7;
  caret-color: rgb(248, 54, 0);
}

.search__input::placeholder {
  color: #a7a7a7;
}

.search__input::placeholder::before {
  content: url(../../../assets/svg/loup.svg);
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.loupe {
  content: url(../../../assets/svg/loup.svg);
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.loupe__red {
  content: url(../../../assets/svg/loupeRed.svg);
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.search__input.focused::placeholder {
  color: black;
}

.search__input__container {
  position: relative;
}

.search__icon {
  display: none;
}

.cross__icon,
.cross__icon__big {
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 860px) {
  .loupe__red {
    display: none;
  }

  .search__input {
    height: 38px;
    width: 274px;
  }
  .search__icon {
    left: 4%;
  }
}

@media (max-width: 600px) {
  .search__icon {
    display: block;
  }
  .loupe,
  .cross__icon__big {
    display: none;
  }

  .focused {
    width: 272px;
    padding-left: 16px;
  }

  .search__input {
    display: none;
  }

  .search__icon {
    margin-right: 0px;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
      0px 1px 5px rgba(191, 196, 201, 0.24);
    height: 38px;
    border-radius: 50px;
    width: 38px;
    position: relative;
    padding: 10px;
    align-items: center;
  }
}
