.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 0 auto;

  max-width: 1110px;
}

.slider {
  width: 445px;
  height: 594px;
  margin-bottom: 106px;
}

.hide {
  display: none;
}

.close {
  background-image: url(../../assets/svg/close.svg);
}

.open,
.close {
  margin-left: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.open {
  background-image: url(../../assets/svg/open-black.svg);
}

.path {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
  gap: 4px;
  background: #f9f9fa;
  color: #a7a7a7;
  font-size: 14px;
  line-height: 18px;
}

.table {
  margin-bottom: 62px;
}

.tab {
  width: 100%;
  max-width: 1100px;
}

.tab__gray,
.tab__black {
  min-height: 36px;
  width: 40%;
  font-size: 16px;
  line-height: 24px;
}

.tab__black {
  text-align: justify;
}

.tab__gray {
  font-weight: 600;
  color: #a7a7a7;
}

.wrapper__colum {
  width: 100%;
}
.review__margin {
  margin-bottom: 42px;
}

.wrapper__colum,
.table {
  display: flex;
  flex-direction: column;
}

.rating_div,
.tabg,
.tab,
.rating,
.review,
.review__without__border {
  display: flex;
  flex-direction: row;
}

.number {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin-left: 24px;
  margin-bottom: 64px;
}

.num1 {
  margin-left: 6px;
  font-size: 14px;
  color: #a7a7a7;
}

.rating,
.about_title,
.review__without__border {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;
  margin-bottom: 32px;
}

.about_text {
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  letter-spacing: 0.2px;
}

.rating {
  align-items: center;
  height: 44px;
  width: 350px;
  border-bottom: 1px solid #ebebeb;
}

.review__without__border {
  height: 44px;
  width: 350px;
  border-bottom: none;
}

.author {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #727272;
  margin-bottom: 32px;
}

.description {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
  margin-bottom: 24px;
}

.review,
.review__without__border {
  margin-bottom: 42px;
  align-items: center;
}

.review__p {
  font-size: 16px;
  line-height: 24px;
  color: #727272;
  margin-left: 24px;
  font-size: 16px;
}

.div__user__pic {
  width: 32px;
  height: 32px;
}

.button__booking {
  justify-content: center;
  align-items: center;
  display: flex;
  background: #f9f9fa;
  border: 1px solid #bfc4c9;
  color: #a7a7a7;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.button__pres {
  background: #f9f9fa;
  border: 1px solid #bfc4c9;
}

.button,
.rate__book {
  color: white;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
}

.rate__book:disabled {
  color: white;
  background: #ebebeb;
}

.button__booking__booking {
  background: #ffffff;
  border: 1px solid #bfc4c9;
  color: #a7a7a7;
}

.button__booking__booking:disabled,
.button__booking:disabled {
  background: #f9f9fa;
  color: #a7a7a7;
  border: 1px solid #bfc4c9;
  border-radius: 20px;
}

.button__booking__booking,
.button,
.button__booking,
.rate__book {
  font-weight:600;
  border-radius: 30px;
  width: 350px;
  height: 52px;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.rate__book {
  align-self: flex-start;
}
.margin {
  margin-bottom: 62px;
}

.div1 {
  float: left;
  width: 445px;
  margin: 20px 30px 0 10px;
}

.div2,
.div3 {
  float: left;
  width: calc(100% - 500px);
}

.div2 {
  margin-top: 20px;
}

@media (max-width: 860px) {
  .wrapper__colum {
    margin-bottom: 0px;
  }
  .div1 {
    width: 136px;
    margin: 20px 30px 20px 10px;
  }

  .slider {
    width: 136px;
    height: 198px;
  }

  .div2 {
    width: calc(100% - 186px);
  }

  .div3 {
    margin-bottom: 52px;
    width: 100%;
  }

  .wrapper {
    padding: 0 64px;
  }
  .rate__book {
    margin: 0;
    width: 100%;
  }

  .path {
    height: 92px;
    font-size: 12px;
    line-height: 16px;
  }

  .tab__gray,
  .tab__black {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 600px) {
  .div1,
  .div2,
  .div3 {
    width: 95%;
  }
  .slider {
    margin: 0 auto;
    width: 188px;
    height: 260px;
  }

  .wrapper {
    padding: 0 24px;
  }
  .rate__margin {
    margin-top: 42px;
  }
  .wrapper__colum {
    margin-bottom: 0%;
  }
  .tab {
    display: flex;
    flex-direction: row;
  }

  .margin {
    margin-bottom: 10px;
  }

  .button,
  .button__pres,
  .button__booking {
    border-radius: 20px;
    width: 288px;
    height: 40px;
  }

  .description {
    font-size: 18px;
    line-height: 28px;
  }

  .number {
    margin-right: auto;
    margin-bottom: 42px;
  }

  .rating__num {
    margin-top: 42px;
  }

  .review {
    flex-direction: row;
    align-self: start;
    align-items: flex-start;
  }

  .review__p {
    margin: 0 0 0 16px;
  }

  .tabg {
    display: flex;
    flex-direction: column;
  }
  .review__colum {
    display: flex;
    gap: 30px;
  }
  .rating {
    margin: 0;
    width: 300px;
    border-bottom: none;
  }

  .author,
  .about_text {
    font-size: 12px;
    line-height: 18px;
  }
}
